[mysqld]
# GENERAL #
basedir                        = __MYSQL_INSTALL_DIR__
user                           = mysql
bind-address                   = 0.0.0.0
port                           = __BASE_PORT__
default-storage-engine         = InnoDB
socket                         = __BASE_DIR__/mysql.sock
pid-file                       = __BASE_DIR__/mysql.pid

# MyISAM #
key-buffer-size                = 16M
myisam-recover                 = FORCE,BACKUP
myisam-sort-buffer-size        = 8M
myisam-max-sort-file-size      = 10G
myisam-repair-threads          = 1


# SAFETY #
max-allowed-packet             = 16M
max-connect-errors             = 1000000
skip-name-resolve
sysdate-is-now                 = 1
innodb                         = FORCE
innodb-strict-mode             = 1

# DATA STORAGE #
datadir                        = __BASE_DIR__/data/

# BINARY LOGGING #
server-id                      = 189__BASE_PORT__
log-bin                        = __BASE_DIR__/logs/binlog/mysql-bin
expire-logs-days               = 14
sync-binlog                    = 1
binlog-cache-size              = 16M
binlog-format                  = MIXED
max-binlog-cache-size          = 32M
max-binlog-size                = 1G

# REPLICATION #
#read-only                      = 1
skip-slave-start               = 1
log-slave-updates              = 1
relay-log                      = __BASE_DIR__/logs/relaylog/relay-bin
slave-net-timeout              = 60
sync-master-info               = 1
sync-relay-log                 = 1
sync-relay-log-info            = 1
#replicate-wild-do-table        = myblog.%
#replicate-wild-do-table        = mywebsite.%
#replicate-wild-ignore-table    = mysql.%
#replicate-wild-ignore-table    = test.%

# CACHES AND LIMITS #
max-connections                = 100
sort-buffer-size               = 512K
join-buffer-size               = 512K
tmp-table-size                 = 8M
max-heap-table-size            = 8M
query-cache-type               = 0
query-cache-size               = 0
query-cache-limit              = 512K
query-cache-min-res-unit       = 2k
thread-cache-size              = 50
open-files-limit               = 65535
table-definition-cache         = 256
table-open-cache               = 256
back-log                       = 600
external-locking               = FALSE
thread-concurrency             = 8
thread-stack                   = 192K 
concurrent-insert              = 2
transaction-isolation          = READ-COMMITTED
read-buffer-size               = 1M
read-rnd-buffer-size           = 1M
bulk-insert-buffer-size        = 1M

interactive-timeout            = 120
wait-timeout                   = 120



# INNODB #
innodb-data-file-path          = ibdata1:12M:autoextend
innodb-flush-method            = O_DIRECT
innodb-log-files-in-group      = 2
innodb-log-file-size           = 500M
innodb-flush-log-at-trx-commit = 0
innodb-file-per-table          = 1
innodb-buffer-pool-size        = 500M
innodb-additional-mem-pool-size = 4M
innodb-file-io-threads         = 4
innodb-thread-concurrency      = 20
innodb-log-buffer-size         = 4M
innodb-log-files-in-group      = 2
innodb-max-dirty-pages-pct     = 75
innodb-lock-wait-timeout       = 120

# LOGGING #
log-error                      = __BASE_DIR__/logs/mysql-error.log
log-queries-not-using-indexes  = 1
slow-query-log                 = 1
slow-query-log-file            = __BASE_DIR__/logs/mysql-slow.log
long-query-time                = 1
log-output                     = FILE
